body{
	margin:0px;
	background-image:url("../img/blue.jpg");/*http://i.imgur.com/S3KTrd7.jpg*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position:center;
    cursor:url('../img/arrow.cur');
}

/*JADRO APLIKACIE*/
.container{	
	position:relative;
	top:20px;
	z-index:1;
}

/* ZOBRAZENIE SIFRY - MENU + VYKRESLENIE*/
.container-cipher{
	position:relative;
	background-color:white;
	width:62%;
	border: 2px solid;
	border-color:black;
	margin-left:21%;
	text-align:center;
	height:700px;
	overflow-y: auto;
	z-index:1;
}

#cipher-parameters{
    display:none;
    text-align:center;
}

#main-cipher{
    display:none;
}

.typ-sifry{
    background-color:navy;
	color:white;
	text-decoration:none;
	display: inline-block;
	padding: 8px 15px;
}

a.typ-sifry:hover, a.typ-sifry:active{
	background-color: black;
	color:white;
}

.typ-active{
    background-color:black;
    color:white;
}

/*SAMOTNE ZOBRAZENIE SIFRY*/
#cipher{
	text-align:center;
	z-index:-1;
	height:460;
	overflow-y:auto;
}

.detail-text{
	font-family:'Monsterrat';
}

#menu-bottom{
	position:relative;
	top:50px;
	background-color:white;
	color:brown;
	width:61%;
	margin-left:21%;
	border:1px solid white;
	font-family:Cambria Math;
	padding:5px;
	text-align:center;
	display:none;
	min-height:50px;
}

#menu-bottom-left{
	width:50%;
	float:left;
	background-color:white;
	color:black;
}

#menu-bottom-right{
	width:50%;
	float:right;	
	background-color:white;
	color:black;
}

#possible-expression{
	position:relative;
	top:50px;
	width:61%;
	margin-left:21%;
	padding:5px;
	text-align:center;
	display:none;
    height:600px;
    overflow-y:scroll;
}

#possible{
	width:100%;
	border:1px solid black;
	background-color:black;
	color:white;
}

#lin-approx{
	display:none;
	width:62%;
	margin-left:21%;
	margin-bottom:20px;
	min-height:auto;
	background-color:white;
	color:black;
	position:relative;
	top:60px;
	border:1px solid black;
}

#each-expression{
	min-height:50px;
}

#lin-expression{
	background-color:white;
	color:black;
	margin-bottom:5px;
	padding-bottom:15px;
}

#examples_ot-zt{
	max-width:80%;
	margin-left:10%;
	margin-bottom:20px;
	min-height:50px;
	background-color:white;
	color:black;
	position:relative;
	top:60px;
	border:1px solid black;
	overflow:auto;
}

#examples{
    width:100%;
	display:none;
}

#plaintext{
    width:50%;
    float:left;
}

#ciphertext{
    width:50%;
    float:right;
}

#subkeys{
    float:center;
}

.nodot{
    list-style-type: none;
}

.samples{
    margin-top:10px;
	height:30px;
	background-color:white;
	color:black;
	cursor:pointer;
    border:0px;
    margin-bottom:10px;
}

#final{
    display:none;
}

#final-layout{
    margin-top:20px;
}

#target-bits{
    float:left;
    width:65%;
}

.switch{
    margin-top:10px;
	height:20px;
	background-color:navy;
	color:white;
    border:0px;
	cursor:pointer;
    margin-bottom:10px;
}

#final-table{
    float:right;
    width:30%;
    border-left:1px solid black;
    padding-left:10px;
    height:550px;
    overflow-y: scroll;
}

#fin-table{
    width:90%;
    overflow-y:scroll;
}

#best-biases{
    width:65%;
    float:left;
    margin-top:20px;
    max-height:450px;
    text-align:center;
}

#best-table{
    width:300px;
    margin-left:30%;
    border:1px solid black;
    margin-top:10px;
    min-height:244px;
}

#best-graph{
    display:none;
}

#cipherinfo{
	width:60%;
	margin:30px;
	margin:20px;
	margin-left:25%;
    font-family:'Arial';
}

#examples_info{
    font-size:10px;
}

#table-approx{
	width:100%;
}

#table-approx th{
	border:1px solid black;
}

svg line{
	cursor: pointer;
}