/*HEADER - Parts & Trajectories*/
.header{
    width:100%;
    background-color:navy;
    color:white;
	height:150px;
	padding-top:20px;
    padding-bottom:10px;
	overflow-y:auto;
	text-align:center;
    font-family: 'Hind';
    font-size:18px;
}

li.part{
	background-color:black;
	color:white;
	border:1px solid white;
	padding:5px;
	display:inline;
	cursor:pointer;
}

li.trajectory{
	background-color:white;
	color:black;
	border:1px solid black;
	padding:5px;
	display:inline;
	cursor:pointer;
}

li.part.active{
	background-color:darkcyan;
	color:white;
}

li.trajectory.active{
	background-color:brown;
	color:white;
}

li.part:hover{
	background-color:snow;
	color:brown;
}

li.trajectory:hover{
	background-color:brown;
	color:white;
}

.deselect{
	background-color:black;
	color:white;
	border:1px solid white;
	padding:5px;
	display:inline;
	cursor:pointer;    
}

.deselect:hover{
	background-color:brown;
	color:white;
}

.trajectories input[type=button]{
    margin-top:10px;
	height:30px;
	background-color:black;
	color:white;
	cursor:pointer;
    border:0px;
}

.trajectories input[type=button]:hover{
    background-color:white;
    color:black;
}