/*LAVE MENU VYSKAKOVACIE*/
#menu-button{
	background-color:black;
	color:white;
	-webkit-user-select: none;
	padding:5px;
    position:absolute;
    top:50%;z-index: 1;
}

#menu-left{
    background-color:black;
	position:fixed;
	top:0px;
	text-align:center;
	cursor:pointer;
    height:100%;
    width:1%;z-index:2;
}

#menu-left ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	float:left;
	width:100%;
    display:none;
}

.menu{
	position:relative;
    text-decoration: none;
    font-family:'Ubuntu';
	border:1px solid grey;
	padding:5px;
	text-align:left;
	-webkit-user-select: none;
}

.menu-home{
    font-size:22px;
    background-color: white;
    color:black;
}

.menu-1{    
    font-size:18px;
    background-color: black;
    color:white;
}

.menu-2{
    font-size:15px;
    background-color: navy;
    color:white;
}

#acc-panel{
    display:none;
}

#home{
    font-size:20px;
    font-family: 'Garamond';
}

#home p{
    width:60%;
    text-align: center;
    display:inline-block;
}