/*NAVBAR */
.nav-header{
	width:61%;
	margin-left:20%;
	text-align:center;
	min-height:50px;
	padding:20px;
	font-family:Verdana;
	box-shadow:10px 10px 5px black;
}

.navbar-header{
	text-align:center;
	padding:10px;
}

/*NAVBAR LINK*/
a.nav:link{
	background-color:white;
	color:black;
	text-decoration:none;
	display: inline-block;
	padding: 14px 25px;
}

a.nav:hover, a.nav:active, a.nav.active{
	background-color: black;
	color:white;
}

.nav.disabled{
    background-color:grey;
    color:black;
}

.available{
    animation: pulse 3s infinite;
}

@keyframes pulse {
  0%, 100% {
    background-color: white;
  }
  50% {
    background-color: green;
  }
}