#parameters{
    font-family:'Hind';
    width:80%;
    color:navy;
}

#cipher-menu h2{
    font-family:'Ubuntu';
}

.td-perm{
	max-width:1.25em;
	padding:5px;
    text-align: center;
}

.td-subst{
    max-width:10px;
	padding:5px;
    text-align: center;
}

#permtable td input{
	background-color:black;
	color:white;
}

#permtable{
    border:none;
}

#parameters input{
    font-family:'Ubuntu';
	width:300px;
	margin-top:10px;
	height:30px;
    background-color:navy;
    color:white;
    border:1px solid black;
    padding-left:5px;
    padding-right:5px;
    padding-top:2px;
    padding-bottom:2px;
    border-radius: 5px;
    
}

.analyse_butt{
	margin-top:10px;
	background-color:navy;
	color:white;
	cursor:pointer;
    border:1px solid white;
    border-radius: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.analyse_butt:hover{
    border-color:navy;
    color:navy;
    background-color: white;
}

#rounds{
    width:auto;
}

#table-params{
    border:1px solid navy;
    border-radius: 5px;
    float:center;
    background-color:aliceblue;
    width:100%;
    margin-left:15%;
    margin-right:15%;
}

#blocks{
    border: 1px solid navy;
    width: 400px;
    height:40px;
    border-radius: 5px;
    overflow: hidden;
}

.model_select{
    border: 1px solid navy;
    width: 100px;
    height:30px;
    border-radius: 5px;
    overflow: hidden;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:white;
    opacity:0.5;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:white;
    opacity:0.5;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:white;
    opacity:0.5;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:white;
    opacity:0.5;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:white;
    opacity:0.5;
}