#table-cipher{
    width:790px;
    border-collapse: collapse;
    font-family:'Ubuntu';
    font-size:3px;
    float:center;
}

.svg-s{
    width:100%;
    height:15px;
}

.svg-p{
    width:100%;
    height:80px;
}

.td-bin-p{
	width:10px;
    font-size:3px;
	-webkit-user-select: none;
}

.td-subkey{
    width:10px;
    height:10px;
    background-color:black;
    color:white;
}

.td-block{
    background-color:black;
    color:white;
    width:10px;
    height:30px;
    cursor: pointer;
    -webkit-user-select: none;
}

.td-active-subkey{
    background-color:green;
}

.td-target-subkey{
    background-color:brown;
}

.td-empty{
    width:10px;
}

.tr-empty{
    height:5px;
}

.td-active{
    background-color:green;
}

/*
#table-present{
	border-collapse: collapse;
    font-family:'Ubuntu';
	font-size:3px;
    float:center;
}

.td-bin-p{
    font-size:5px;
	-webkit-user-select: none;
}

.tr-empty-p{
	height:5px;
}

.td-empty-p{
}

.td-subkey-p{
    height:10px;
	background-color:black;
    color:white;
}

.td-block-p{
    color:white;
	height:30px;
	cursor: pointer;
	-webkit-user-select: none;
}

.td-active-subkey{
    background-color:green;
}

.td-target-subkey-p{
    background-color:brown;
}
*/
