.table-block4{
	max-width:600px;
	border-collapse: collapse;
	font-size:12px;
    font-family:'Ubuntu';
}

.td-empty4{
	width:20px;
}

.tr-empty{
	height:15px;
}

.td-block4{
    background-color:black;
	color:white;
	width:37px;
	height:60px;
	cursor: pointer;
	-webkit-user-select: none;
}

.td-subkey{
	margin-left:-1px;
	height:20px;
	background-color:black;
	color:white;
	cursor: pointer;
	width:37px;
	-webkit-user-select: none;
}

.td-bin{
	max-width:37px;
	-webkit-user-select: none;
}

.td-inactive{
    background-color: black;
}

.td-active{
	background-color: green;
}

.td-active-subkey{
    background-color: green;
}

.td-target-subkey{
    background-color:brown;
}